In [1]:
import pandas as pd
import json

In [13]:
import requests
import json

response = requests.post(
  url="https://openrouter.ai/api/v1/chat/completions",
  headers={
    "Authorization": "Bearer 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",
    "Content-Type": "application/json",
    
  },
  data=json.dumps({
    "model": "deepseek/deepseek-chat-v3-0324:free",
    "messages": [{
    'role': 'system',
    'content': '''
        'You are a SQL query generator for a database with the following schema:\n\n'
        # Updated SQL Schema
            """
-- Create the Students table
CREATE TABLE IF NOT EXISTS Students (
    studentID INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,   --Name of student
    email TEXT UNIQUE,  --Student's Email ID
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
 
-- Create the Subjects table
CREATE TABLE IF NOT EXISTS Subjects (
    subjectID TEXT PRIMARY KEY, --Subject ID for a subject, for example, "SUBJ001"
    subjectName TEXT UNIQUE NOT NULL --Name of subject corresponding to a subjectID, for example "Mathematics"
);
 
-- Create the Assignments table
CREATE TABLE IF NOT EXISTS Assignments (
    subjectID TEXT NOT NULL,  --SubjectID for which the assignment is created , for example "SUBJ001"
    assignmentName TEXT NOT NULL, --Name of the assignment with values Assignment1,Assignment2,Assignment3,Mid Term, and Final Exam
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (subjectID, assignmentName),
    FOREIGN KEY (subjectID) REFERENCES Subjects(subjectID)
);
 
-- Create the Marks table
CREATE TABLE IF NOT EXISTS Marks (
    markID INTEGER PRIMARY KEY AUTOINCREMENT,
    studentID INTEGER NOT NULL, --Identifier for each student
    subjectID TEXT NOT NULL, --SubjectID for which the assignment is created , for example "SUBJ001"
    assignmentName TEXT NOT NULL, --Name of the assignment
    marks INTEGER CHECK (marks BETWEEN 0 AND 100),
    grade TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, 
    FOREIGN KEY (studentID) REFERENCES Students(studentID),
    FOREIGN KEY (subjectID, assignmentName) REFERENCES Assignments(subjectID, assignmentName)
);
"""

'The output should only be a json with format with key and values as strings in double quotes'
'''
'''
{
    "task": insert', 'delete', 'update' or 'view',
    "SQL Query": "sql guery generated"
}
Do not output anything else besides the json. Make sure end  bracket "}" is there in json. 
'''
 
},
{
    'role': 'user',
    'content': 'For Biology what are the students in top 10  percentile overall?',
},
]
    
  })
)

In [14]:
response_json = response.json() 
print(response_json['choices'][0]['message']['content'])

```json
{
    "task": "view",
    "SQL Query": "WITH BiologyMarks AS (SELECT studentID, SUM(marks) AS totalMarks FROM Marks WHERE subjectID = (SELECT subjectID FROM Subjects WHERE subjectName = 'Biology') GROUP BY studentID), Percentiles AS (SELECT studentID, totalMarks, NTILE(100) OVER (ORDER BY totalMarks DESC) AS percentile FROM BiologyMarks) SELECT s.studentID, s.name, s.email, p.totalMarks FROM Students s JOIN Percentiles p ON s.studentID = p.studentID WHERE p.percentile <= 10 ORDER BY p.totalMarks DESC;"
}
```

In [7]:
import streamlit as st
import sqlite3
import pandas as pd  # Import pandas for DataFrame operations
import sql_query_generator
import time  # Import time for spinners and delays

def query_database(query,task):
    try:
        
        conn = sqlite3.connect("student_database.db")  # Replace with your SQLite database file
        if task.lower() != "view":
            cursor = conn.cursor()
            cursor.execute(query)
            conn.commit()
            conn.close()
            return "Query executed"
        else:
            df = pd.read_sql_query(query, conn)  # Fetch data as DataFrame
            conn.close()
            return df
    except Exception as e:
        return f"Error: {e}"

In [8]:
query_database("SELECT s.subjectName, COUNT(DISTINCT m.studentID) AS student_count FROM Subjects s LEFT JOIN Marks m ON s.subjectID = m.subjectID GROUP BY s.subjectName ORDER BY student_count DESC;","View")

          subjectName  student_count
0             History            196
1           Chemistry            187
2           Economics            184
3          Philosophy            173
4             Physics            172
5    Computer Science            171
6         Mathematics            171
7          Psychology            165
8   Political Science            161
9             Biology            159
10         Algorithms              0
11  Playing with AI 2              0

In [15]:
def find_braces_indices(input_string):
        """
        Finds the indices of all opening '{' and closing '}' in the input string.
        
        Args:
            input_string (str): The input string.
        
        Returns:
            dict: A dictionary with two keys:
                - 'opening': A list of indices of '{'
                - 'closing': A list of indices of '}'
        """
        opening_indices = [i for i, char in enumerate(input_string) if char == '{']
        closing_indices = [i for i, char in enumerate(input_string) if char == '}']
        
        return opening_indices, closing_indices

In [16]:
import json
start,end=find_braces_indices(response_json['choices'][0]['message']['content'])
if end==[]:
    response_json['choices'][0]['message']['content']+="}"
    end=[len(response_json['choices'][0]['message']['content'])]
#print(start,end)
#print(CodeGenerator_Agent_Response)
start=start[0]

end=end[0]
CodeGenerator_Agent_Response=response_json['choices'][0]['message']['content'][start:end+1]
CodeGenerator_Agent_Response=CodeGenerator_Agent_Response.replace("\n","")
json_result=json.loads(CodeGenerator_Agent_Response)

In [17]:
json_result

{'task': 'view',
 'SQL Query': "WITH BiologyMarks AS (SELECT studentID, SUM(marks) AS totalMarks FROM Marks WHERE subjectID = (SELECT subjectID FROM Subjects WHERE subjectName = 'Biology') GROUP BY studentID), Percentiles AS (SELECT studentID, totalMarks, NTILE(100) OVER (ORDER BY totalMarks DESC) AS percentile FROM BiologyMarks) SELECT s.studentID, s.name, s.email, p.totalMarks FROM Students s JOIN Percentiles p ON s.studentID = p.studentID WHERE p.percentile <= 10 ORDER BY p.totalMarks DESC;"}

In [18]:
query_database(json_result['SQL Query'],json_result['task'])

    studentID               name                         email  totalMarks
0         145       Brad Gilbert  jacksonelizabeth@example.net         461
1         322   Timothy Gallegos        carlabrown@example.com         461
2           4          Chris Kim      sandrabarton@example.org         447
3          70         Alan Jones         yphillips@example.net         441
4         247         Robin Hall            gavery@example.net         435
5         481        Alex Powers         whitegary@example.org         433
6         114          Susan Lam        katieclark@example.org         432
7          12     Brianna Flores            adam58@example.org         430
8         102   William Robinson     alvarezjohnny@example.org         429
9         290     Victoria Bryan          irussell@example.org         429
10         17      Michelle Page          laurie37@example.net         427
11         88       Ashley Kirby      thompsondana@example.org         422
12         92  Patricia Hamilton     bonniemendoza@example.net         422
13        400      Kathleen Love          joshua81@example.org         422
14         35       Lindsay Wood         xmcdaniel@example.net         421
15         90  Christine Aguilar      crawfordkyle@example.org         415
16        403    Deborah Sellers         mmartinez@example.net         415
17         33      James Vincent          msimmons@example.net         414
18        176   Martin Santos MD         kathryn97@example.org         414
19        196       Ashley Perez            iscott@example.net         414